body {
    font-family: 'Comic Sans MS';
    background-image: url('/img/hank.png');
}

h1,
h2 {
    color: red;
    text-align: center;
}

footer {
    img {
        width: 32px;
    }
}

.introdução {
    padding: 8px;
    border-radius: 1px;
    border-style: dotted;
}
